.features {
	min-width: 2000px;
	background-color: @main;
}

.features__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.features__item {
	position: relative;
	padding-top: 90px;
	padding-left: 200px;
	&--first {
		padding-bottom: 600px;

		&::before {
			content: "";
			position: absolute;
			right: 0;
			top: -40px;
			width: 591px;
			height: 634px;
			background-image: url("../img/Photo-1.jpg");
			background-repeat: no-repeat;
		}
	}
	&--second {
		width: 1730px;
		padding-bottom: 90px;
		background-color: #232615;

		&::before {
			content: "";
			position: absolute;
			right: 399px;
			top: -290px;
			width: 232px;
			height: 917px;
			background-image: url("../img/Beer.png");
			background-repeat: no-repeat;
		}
	}
	&--third {
		padding-top: 130px;
		padding-bottom: 120px;

		&::before {
			content: "";
			position: absolute;
			right: 0px;
			bottom: 0px;
			width: 980px;
			height: 1014px;
			background-image: url("../img/Photo-3.jpg");
			background-repeat: no-repeat;
		}
	}
}

.features__subtitle {
	margin: 0;
	font-family: @cinzel;
	font-weight: 400;
	font-size: 72px;
	line-height: 60px;
	color: @text-brown;

	&--white {
		color: @white;
	}

	&--bold {
		font-weight: 900;
	}

	&--first {
		margin-bottom: 20px;
	}

	&--second {
		margin-bottom: 30px;
	}

	&--third {
		width: 533px;
		margin-bottom: 60px;
		line-height: 90px;
	}
}

.features__text {
	margin: 0;
	font-family: 'Amiri';
	font-size: 24px;
	line-height: 48px;
	color: #b4ba98;

	&--brown {
		color: @text-brown;
	}

	&--second {
		width: 855px;
	}

	&--third {
		width: 685px;
		margin-bottom: 30px;
	}
}

.features__button {
	margin-top: 50px;
}

.features__slogan {
	display: none;
}