.features {
	min-width: 2000px;
  	
}

.features__list {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.features__item {
	position: relative;
	padding-top: 90px;
	padding-left: 220px;
	&--first {
		padding-top: 113px;
		padding-bottom: 600px;

		&::before {
			content: "";
			position: absolute;
			right: 0;
			top: -35px;
			width: 591px;
			height: 634px;
			background-image: url("../img/Photo-1.jpg");
			background-repeat: no-repeat;
		}
	}
	&--second {
		position: absolute;
		top: 351px;
		width: 1510px;
		padding-top: 104px;
		background-color: #232615;

		&::before {
			content: "";
			position: absolute;
			z-index: 10;
			right: 200px;
			top: -290px;
			width: 232px;
			height: 917px;
			background-image: url("../img/Beer.png");
			background-repeat: no-repeat;
		}

		&::after {
			content: "";
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;

			width: 1730px;
			height: 493px;

			box-shadow: 0px 0px 155px 0px rgba(31, 33, 43, 0.65);
		}
	}
	&--third {
		margin-top: 912px;
		padding-top: 130px;
		padding-bottom: 120px;

		&::before {
			content: "";
			position: absolute;
			right: 0px;
			bottom: 57px;
			width: 980px;
			height: 1014px;
			background-image: url("../img/Photo-3.jpg");
			background-repeat: no-repeat;
		}
	}
}

.features__subtitle {
	margin: 0;
	font-family: @cinzel;
	font-weight: 400;
	font-size: 72px;
	line-height: 60px;
	color: @text-brown;

	&--white {
		color: @white;
	}

	&--bold {
		font-weight: 900;
	}

	&--first {
		margin-bottom: 10px;
	}

	&--second {
		margin-bottom: 40px;
	}

	&--third {
		width: 533px;
		margin-bottom: 39px;
		line-height: 90px;
	}
}

.features__text {
	margin: 0;
	font-family: 'Amiri';
	font-size: 24px;
	line-height: 48px;
	color: #b4ba98;

	&--brown {
		color: @text-brown;
	}

	&--second {
		width: 855px;
	}

	&--third {
		width: 685px;
		margin-bottom: 50px;
	}
}

.features__button {
	margin-top: 45px;
}

.features__slogan {
	width: 2000px;
	min-height: 884px;
	margin-left: -220px;
	margin-top: 92px;
	background-image: url("../img/Photo-2.jpg");
}