.features {
	background-color: @main;
}

.features__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.features__item {
	padding-top: 90px;
	&--first {
		padding-bottom: 600px;
	}
	&--second {
		width: 95%;
		padding-bottom: 90px;
		background-color: #232615;
	}
	&--third {
		padding-top: 130px;
		padding-bottom: 150px;
	}
}

.features__subtitle {
	margin: 0;
	font-family: @cinzel;
	font-weight: 400;
	font-size: 72px;
	line-height: 60px;
	color: @text-brown;

	&--white {
		color: @white;
	}

	&--bold {
		font-weight: 900;
	}

	&--first {
		margin-bottom: 20px;
	}

	&--second {
		margin-bottom: 30px;
	}

	&--third {
		width: 35%;
		margin-bottom: 60px;
		line-height: 90px;
	}
}

.features__text {
	margin: 0;
	font-family: 'Amiri';
	font-size: 24px;
	line-height: 48px;
	color: #b4ba98;

	&--brown {
		color: @text-brown;
	}
	&--third {
		width: 40%;
		margin-bottom: 30px;
	}
}

.features__button {
	margin-top: 50px;
}

.features__slogan {
	display: none;
}