.order {
	min-width: 2000px;
	background-color: #1b1a0f;
}

.order__wrapper {
	min-height: 2000px;
	padding-top: 200px;
	background-image: url("../img/join-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.order__title {
	margin: 0;
	margin-bottom: 30px;
	font-family: @cinzel;
	font-weight: 400;
	font-size: 72px;
	line-height: 60px;
	color: @text-brown;
	text-align: center;
}

.order__description {
	margin: 0;
	margin-bottom: 50px;
	font-family: 'Amiri';
	font-size: 24px;
	line-height: 48px;
	color: #b4ba98;
	text-align: center;
}

.order__button {
	margin: 0 auto;
}