.page-header {
	background-color: @main;
}

.page-header__subscribe {
	font-family: 'Amiri';
	font-size: 24px;
	font-style: italic;
	line-height: 30px;
	color: @button;
	text-align: center;
}

.page-header__down-link {
	font-family: 'Amiri';
	font-size: 16px;
	line-height: 30px;
	color: @button;
	text-decoration: none;
}