.page-header {
	background-color: @main;
}

.page-header__wrapper {
	padding-top: 120px;
	padding-bottom: 120px;
}

.page-header__logo {
	display: block;
	width: 153px;
	height: 162px;
	margin: 0 auto;
	margin-bottom: 135px;
}

.page-header__title {
	margin-bottom: 25px;
}

.page-header__subscribe {
	display: block;
	margin-bottom: 320px;
	font-family: 'Amiri';
	font-size: 24px;
	font-style: italic;
	line-height: 30px;
	color: @button;
	text-align: center;
}

.page-header__down-link {
	display: block;
	width: 140px;
	margin: 0 auto;
	font-family: 'Amiri';
	font-size: 16px;
	line-height: 30px;
	color: @button;
	text-decoration: none;
}